* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color:black;
  height: 100vh;
  grid-template-areas:
  "box1 box1 box2 box3 box3"
  "box4 box5 box6 box3 box3"
  "box7 box8 box9 box3 box3"
}

img {
  width: 25%;
}

.icon{
  font-size: 1.5em;
  margin:auto;
}

.center-icon-text-align {
  text-align: center;
}

/* 
.fa-align-center::before {
  font-size: 1.5rem;
  color: white;
} */



.my-name {
  flex:left;
  color: white;
  margin-left: 30px;
  margin-top: 35px;
  }

.para {
  flex:left;
  margin-left: 30px;
  margin-top: 1.5em;
  font-size: 2em
  padding:bottom: 4px;
  
  }

}

.my-resume  {
  flex:left;
  margin-left: 30px;
  color:white;
}

/*.contact {
  padding-left: 5px;
}*/

.cogs {
   font-size: 2em;
  color: white;
  width: 11%;
  padding-top: 10px;

}

.address-card {
  display:flex;
  margin-right: 20px;

 
  width: 11%;
  display: inline;

}

h2  {
   /*flex:left;*/
  margin-left: 30px;
  color:white;
}

.fa-align-center::before {
  font-size: 1.5rem;
  color: white;

}

.fas fa-infinity ::before {
   font-size: 2em;
  color: white;
  width: 25%;

}

.fa-barcode:: before {
  font-size: 1.5rem;
  color: white;
}

/*.fa-ethereum :: before {
  font-size: 2em;
  color: white;
  width: 25%;

}*/

.ethereum {
  font-size: 2em;
  color: white;
  width: 25%;


}

.angle-right {
  display:flex;
  flex: right;

}

.angle-left {

}
.fas fa-laptop"></i>

.arrow-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70% auto;
}

div {
    display: block;
}

.arrow-btns {
    display: inline;
    width: 3em;
    margin: 15%;
}

div {
    display: block;
}



 







 /* height: 1px;
  width:1px;*/
  border-radius: 50%;
}

h2 {
  color: white;

}

.center-icon-text-align {
  color: white;
}
.box1 {
 background-color: #54d0ba;
 grid-column: 1/3;
 justify-content: center;
 align-items: center;
 /* background-size: 20%; */
 /* background-repeat: no-repeat; */

}

.box2 {
  /*grid-area: box2;*/
  display: flex;
  background-color: #105a92;
  /* background-image: url('images/fingerprint.svg');*/
  justify-content: center;
  align-items: center;
  /* background-size: 20%; */
  /* background-repeat: no-repeat; */
  /* font-size: 2em;*/
    
}
.box3 {
  /*  grid-area: box3;*/
  background-color: #44a8c5;
  grid-area: 1 / 4 /4 / 6;
  background-image: url('images/final.png');
  background-size: cover;
  /* padding: ; */
  /*  background-image: url('images/ethereum.svg');*/
  background-repeat: no-repeat;
  /*  background-size: 10%;*/
  /*row start column start
  row end  column end     /**/
}



.box4 {
  /*grid-area: box4;*/
  display: flex;
  background-color: #105a92;
  /* background-image: url('images/ethereum.svg');*/
  justify-content: center;
  align-items: center;
  /* background-size: 20%; */
  /* background-repeat: no-repeat; */
    

}

.box5 {
   /* grid-area: box5;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44a8c5; /*#44a8c5*/
  /*background-image: url('images/infinity.svg');*/
  /* background-size: 20%;
   background-repeat: no-repeat; */
   color: white;
}


.box6 {
  /*grid-area: box6;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54d0ba;
  /* background-image: url('images/laptop.svg');*/
  /* background-size: 20%;
  background-repeat: no-repeat; */
}

.box7 {
  /*  grid-area: box7;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44a8c5;
  /* background-image: url('')*/
  /* background-repeat: no-repeat;
  background-size: 20%; */
}

.box8 {
  /*  grid-area: box8;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #105a92;
  /* background-image: url('images/address-book.svg');*/
  /* background-repeat: no-repeat;
  background-size: 20%; */
}

.box9 {
  display: flex;
  justify-content: center;
  align-items: center;
  /*  grid-area: box9;*/
  background-color: #8a8989;
  /* background-image: url('');*/
  /* background-repeat: no-repeat;
  background-size: 20%; */
}



/* @media screen and (max-width: 1100px) {

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
    "box1 box1 box3 box3"
    "box2 box4 box3 box3"
    "box6 box7 box3 box3"
    "box2 box4 box5 box6"
  }
} */

@media only screen and (max-width: 600px) {

 .wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  grid-template-areas:
    "box1"
    "box2"
    "box4"
    "box5"
    "box6"
    "box7"
    "box8"
    "box9";
  }

  .box1{
    grid-column: 1;
  }

  .box3{
    display:none;
  }
}